input[type="range"] {
  cursor: pointer;
  background: transparent;
  height: 8px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  transition: all 0.25s ease-in-out;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.25);
}

input[type="range"]::-moz-range-progress,
input[type="range"]::-webkit-progress-value {
  height: 4px;
  background: white;
  border-radius: 1000px;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:hover::-moz-range-thumb {
  display: none;
  height: 10px;
  width: 10px;
  border: none;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
}
